@font-face
  font-family: "2B851F_0_0"
  src: url("../fonts/2B851F_0_0.eot")
  src: url("../fonts/2B851F_0_0.eot?#iefix") format("embedded-opentype"),
       url("../fonts/2B851F_0_0.woff") format("woff"),
       url("../fonts/2B851F_0_0.ttf") format("truetype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "2B851F_1_0"
  src: url("../fonts/2B851F_1_0.eot")
  src: url("../fonts/2B851F_1_0.eot?#iefix") format("embedded-opentype"),
       url("../fonts/2B851F_1_0.woff") format("woff"),
       url("../fonts/2B851F_1_0.ttf") format("truetype")
  font-weight: normal
  font-style: normal

html,
body
  margin: 0
  padding: 0
  height: 100%
  background-color: #fff

fieldset
  border: none
