.wrapper
  sprite(background)
  min-height: 100%
  height: auto
  width: 1280px
  margin: 0 auto
  background-color: #e0e0e0

  .wrapper-inner
    margin: 0 auto
    padding: 0 15px
    background-color: #fff
    width: 985px
    height: auto
    min-height: 100%
    position: relative
    box-sizing: border-box
    clearfix()

  .main
    clearfix()
    box-sizing: border-box
    padding: 30px 0 0 0
    min-height: 500px

    .main-inner
      background-color: red
