0 = 0 0 136px 36px
1 = 0 -36px 140px 23px
2 = 0 -59px 140px 48px
3 = 0 -107px 140px 43px
4 = 0 -150px 140px 93px
4p63x_-uI-Q = 0 -243px 640px 640px
7201oXCL5-8 = 0 -883px 402px 604px
sprite($sprite)
    background-image url('../../../public/images/sprites/sprite.png')
    background-position $sprite[0] $sprite[1]
    width $sprite[2]
    height $sprite[3]
