*
  &.active
    display: block

a
  text-decoration: none
  fontLinks()

p
  fontBody()
  color: $black
  text-align: justify

h2
  fontPageTitle()

h3
  fontPageTitle()
  color: $white

input[type=text]
input[type=email]
input[type=password]
  fontBody()
  line-height: 25px
  height: 25px
  display: block
  width: 100%
  box-sizing: border-box
  margin: 0 0 10px 0
  padding: 0 5px
  border: 1px solid $darkGrey

.social-white
  height: 18px

  > li
    float: left
    cursor: pointer

  .vk
    margin: 4px 5px
    imgSprite(icon_white_vk)

    &:hover
      imgSprite(icon_white_hover_vk)

  .fb
    margin: 1px 5px
    imgSprite(icon_white_fb)

    &:hover
      imgSprite(icon_white_hover_fb)

  .tw
    margin: 4px 5px
    imgSprite(icon_white_tw)

    &:hover
      imgSprite(icon_white_hover_tw)

  .google
    margin: 2px 5px 2px 7px
    imgSprite(icon_white_google)

    &:hover
      imgSprite(icon_white_hover_google)

  .instagram
    margin: 3px 5px
    imgSprite(icon_white_instagram)

    &:hover
      imgSprite(icon_white_hover_instagram)

.search-button
  cursor: pointer
  imgSprite(search_white)

  &:hover
    imgSprite(search_green)

.shares
  float: left
  position: relative
  padding: 0 0 0 20px
  color: $greyOne

  &::before
    imgSprite(share_white)
    content: ''
    position: absolute
    left: 0
    bottom: 0

.audio
.video
.photo
  position: absolute
  right: 5px
  bottom: 0px

  &.audio
    imgSprite(sound)
    bottom: -4px

  &.video
    imgSprite(video)

  &.photo
    imgSprite(photo)

.button
  fontBody()
  color: $white
  text-align: center
  cursor: pointer
  display: block
  background-color: $red
  box-shadow: inset
  border: none
  width: 100%
  height: 25px
  line-height: 25px
  border: 1px solid $white
  box-shadow: -1px -1px 2px 2px rgba($black, 0.3) inset

  &:hover
    background-color: $green

  &:active
    background-color: $greyThree
