$red = #BB133e
$lightRed = #e10e49
$darkRed = #A51140

$green = #34B233
$lightGreen = #7AB800
$darkGreen = #00682e

$darkRedShade = #F6e7ec
$redShade = #F9CFDB
$lightGreen = #F1F8e5
$lightBlue = #00B9e9
$orange = #FF8900

$white = #fff
$greyOne = #eee
$greyTwo = #999
$greyThree = #666
$black = #000

$fontBold = '2B851F_0_0'
$fontThin = '2B851F_1_0'
