doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=0.7')
    title Rubin

    link(rel="stylesheet", href="/stylesheets/style.css")
    //- libraries
    script(type='text/javascript', src='/bower_components/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/bower_components/jquery.easing/js/jquery.easing.min.js')
    script(type='text/javascript', src='/vendor/jquery.images-ready.js')
    //- app scripts
    script(type='text/javascript', src='/scripts/app.js')
    script(type='text/javascript', src='/scripts/layouts/main.js')
    script(type='text/javascript', src='/scripts/views/main_view.js')

  body
    .wrapper
      .wrapper-inner
        section.navigation
          .user-container
            .left-container
              .search
                input(type=text)
                .search-button
              ul.social-white
                li.vk
                li.fb
                li.google
                li.tw
                li.instagram
              .logo
          nav
            ul
              li News
              li Season
              li Club
              li Tickets
              li Shop
              li Forum

        header.header
          .header-container
            .slider
              .slider-arrow.arrow-left
              .slider-arrow.arrow-right
              ul.slider-circles
                li
                li
                li
              ul.slider-inner
                li
                  img(src='images/for-slider.jpg')
                li
                  img(src='images/for-slider.jpg')
                li
                  img(src='images/for-slider.jpg')
          .green-top-line
          .match-result
            .match-inner
              .match-container
                .match-slider
                  .slider-arrow.arrow-left
                  .slider-arrow.arrow-right
              .green-bottom-line

        section.main
          .main-inner
            .home-grid
              ul.grid
                li.col-featured
                  h2 Featured
                  a(href='#' class='tile club')
                    .image-wrapper
                      .image(style='background-image: url(../images/for-slider.jpg)')
                    .tile-content
                      h3 Loremipsum Donec
                      p Eu pretium quis sem nulla. Molupiet et ad quiam sitio iusciet pa.
                      .buttons
                        .shares 32 Shares
                        .video
                  a(href='#' class='tile team')
                    .image-wrapper
                      .image(style='background-image: url(../images/for-slider.jpg)')
                    .tile-content
                      h3 Loremipsum Donec
                      p Eu pretium quis sem nulla. Molupiet et ad quiam sitio iusciet pa.
                      .buttons
                        .shares 32 Shares
                  a(href='#' class='tile academy')
                    .image-wrapper
                      .image(style='background-image: url(../images/for-slider.jpg)')
                    .tile-content
                      h3 Loremipsum Donec
                      p Eu pretium quis sem nulla. Molupiet et ad quiam sitio iusciet pa.
                      .buttons
                        .shares 32 Shares
                        .audio

                li.col-trending
                  h2 Trending
                  a(href='#' class='tile club')
                    .image-wrapper
                      .image(style='background-image: url(../images/for-home-trenging.jpg)')
                    .tile-content
                      h3 Loremipsum Donec
                      p Eu pretium quis sem nulla. Molupiet et ad quiam sitio iusciet pa.
                      .buttons
                        .shares 32 Shares
                        .video
                  .twitter-widget.tile.widget
                    span.on-twitter On Twitter
                    .tw-icon
                    ul
                      li
                        .tw-picture
                        .tw-content
                          .title
                            span FC Rubin Kazan
                          .date
                            time 20-11-2013
                          .text
                            | Rubin vs. Krasnodar Review (VIDEO): Please enjoy the video review of Rubin vs. Krasnodar match, Prem…
                      li
                        .tw-picture
                        .tw-content
                          .title
                            span FC Rubin Kazan
                          .date
                            time 20-11-2013
                          .text
                            | Rubin vs. Krasnodar Review (VIDEO): Please enjoy the video review of Rubin vs. Krasnodar match, Prem…
                      li
                        .tw-picture
                        .tw-content
                          .title
                            span FC Rubin Kazan
                          .date
                            time 20-11-2013
                          .text
                            | Rubin vs. Krasnodar Review (VIDEO): Please enjoy the video review of Rubin vs. Krasnodar match, Prem…
                  a(href='#' class='tile')
                    .image-wrapper
                      .image(style='background-image: url(../images/for-home-trenging.jpg)')
                    .tile-content
                      h3 Loremipsum Donec
                      p Eu pretium quis sem nulla. Molupiet et ad quiam sitio iusciet pa. Molupiet et ad quiam sitio iusciet pa.
                      .buttons
                        .shares 132 Shares
                  a(href='#' class='tile kazaz')
                    .image-wrapper
                      .image(style='background-image: url(../images/for-home-trenging.jpg)')
                    .tile-content
                      h3 Loremipsum Donec
                      p Eu pretium quis sem nulla. Molupiet et ad quiam sitio iusciet pa.
                      .buttons
                        .shares 32 Shares
                        .photo

                li.col-additional
                  h2 Breaking
                  .breaking.tile
                    ul
                      li
                        a(href='#' class='breaking-item')
                          p Eu pretium quis sem nulla. Molupiet et ad quiam sitio iusciet pa.
                          .buttons
                            .shares 32 Shares
                            .video
                            .date 5 minutes ago
                      li
                        a(href='#' class='breaking-item')
                          p Eu pretium quis sem nulla. Molupiet et ad quiam sitio iusciet pa.
                          .buttons
                            .shares 32 Shares
                            .date 5 minutes ago
                      li
                        a(href='#' class='breaking-item tile neftekhimik')
                          .image-container
                            .image-title Solescid ut quat
                            .image-wrapper
                              .image(style='background-image: url(../images/for-home-trenging.jpg)')
                          .buttons
                            .shares 32 Shares
                            .date 5 minutes ago

                    .rubin-tv-widget.tile.widget
                      h2 Rubin Tv
                      a(href='#')
                        .image-wrapper
                          .image(style='background-image: url(../images/for-home-trenging.jpg)')
                        | View more videos

      footer.footer
        section.footer-widgets
          .green-red-line
          .widgets
            ul.widgets-container
              li.widget
              li.widget
              li.widget
              li.widget

        section.footer-sponsors
          span Sponsors
          .line.line-one
            .sponsor.sponsor_ak_bank
            .sponsor.sponsor_mts
            .sponsor.sponsor_puma
            .sponsor.sponsor_sogaz
            .sponsor.sponsor_taif
            .sponsor.sponsor_tattelecom
            .sponsor.sponsor_tgc16
            .sponsor.sponsor_viatti
          .line.line-two
            .sponsor.sponsor_uefa
            .sponsor.sponsor_eca
            .sponsor.sponsor_rfs
            .sponsor.sponsor_fifa
            .sponsor.sponsor_russain_league

        section.footer-text
          .copyright
            © Copyright Rubin Kazan 2014
          ul.footer-links
            li
              a(href='#') Contact us
            li
              a(href='#') Terms and Conditions
            li
              a(href='#') Privacy Policy
            li
              a(href='#') Advertising
            li
              a(href='#') Sponsors

