background = 0 0 1280px 3068px
green-bottom = 0 -3068px 1090px 37px
green-top = 0 -3105px 1100px 63px
header_bg = 0 -3168px 955px 442px
logo = 0 -3610px 150px 163px
navigation_bg = 0 -3773px 955px 132px
sprite($sprite)
    background-image url('./sprite.png')
    background-position $sprite[0] $sprite[1]
    width $sprite[2]
    height $sprite[3]
