background = 0 0 1280px 3070px
green-bottom = 0 -3070px 1090px 37px
green-red = 0 -3107px 1047px 35px
green-top = 0 -3142px 1100px 63px
header_bg = 0 -3205px 955px 442px
logo = 0 -3647px 150px 163px
navigation_bg = 0 -3810px 955px 132px
sprite($sprite)
    background-image url('./sprite.png')
    background-position $sprite[0] $sprite[1]
    width $sprite[2]
    height $sprite[3]
