arrow_big_hover_left = 0 0 15px 21px
arrow_big_hover_right = 0 -21px 15px 21px
arrow_big_left = 0 -42px 13px 19px
arrow_big_right = 0 -61px 13px 19px
arrow_small_green_bottom = 0 -80px 9px 7px
arrow_small_green_right = 0 -87px 8px 9px
arrow_small_green_top = 0 -96px 9px 6px
arrow_small_red_bottom = 0 -102px 9px 7px
arrow_small_red_right = 0 -109px 8px 10px
arrow_small_red_top = 0 -119px 9px 7px
arrow_small_white_bottom = 0 -126px 7px 5px
arrow_small_white_right = 0 -131px 6px 8px
arrow_small_white_top = 0 -139px 7px 5px
background = 0 -144px 1280px 3070px
bubble = 0 -3214px 23px 20px
edit_green = 0 -3234px 21px 16px
edit_red = 0 -3250px 21px 16px
edit_white = 0 -3266px 21px 16px
green_red_ui_bottom = 0 -3282px 1047px 35px
green_ui_line_bottom = 0 -3317px 1090px 37px
green_ui_line_top = 0 -3354px 1100px 63px
header_bg = 0 -3417px 955px 442px
heart = 0 -3859px 23px 20px
icon_close = 0 -3879px 28px 27px
icon_close_hover = 0 -3906px 28px 27px
icon_fb = 0 -3933px 29px 30px
icon_google = 0 -3963px 31px 31px
icon_instagram = 0 -3994px 23px 23px
icon_red_fb = 0 -4017px 14px 24px
icon_red_google = 0 -4041px 24px 23px
icon_red_hover_fb = 0 -4064px 12px 22px
icon_red_hover_google = 0 -4086px 22px 21px
icon_red_hover_instagram = 0 -4107px 21px 20px
icon_red_hover_tw = 0 -4127px 24px 21px
icon_red_hover_vk = 0 -4148px 15px 19px
icon_red_instagram = 0 -4167px 22px 22px
icon_red_tw = 0 -4189px 26px 23px
icon_red_vk = 0 -4212px 18px 20px
icon_tw = 0 -4232px 24px 21px
icon_vk = 0 -4253px 29px 29px
icon_white_fb = 0 -4282px 8px 16px
icon_white_google = 0 -4298px 15px 15px
icon_white_hover_fb = 0 -4313px 8px 16px
icon_white_hover_google = 0 -4329px 15px 15px
icon_white_hover_instagram = 0 -4344px 13px 12px
icon_white_hover_tw = 0 -4356px 16px 12px
icon_white_hover_vk = 0 -4368px 9px 11px
icon_white_instagram = 0 -4379px 13px 13px
icon_white_tw = 0 -4392px 16px 12px
icon_white_vk = 0 -4404px 9px 11px
icon_youtube = 0 -4415px 33px 23px
joined_rubin = 0 -4438px 54px 52px
logo = 0 -4490px 150px 163px
navigation_bg = 0 -4653px 955px 132px
photo = 0 -4785px 24px 20px
pic_added_time = 0 -4805px 29px 38px
pic_ball = 0 -4843px 60px 60px
pic_change = 0 -4903px 27px 30px
pic_corner = 0 -4933px 42px 44px
pic_dot = 0 -4977px 12px 12px
pic_dot_hover = 0 -4989px 12px 12px
pic_foul = 0 -5001px 32px 31px
pic_gender_men = 0 -5032px 45px 82px
pic_gender_ruller = 0 -5114px 39px 108px
pic_gender_women = 0 -5222px 40px 82px
pic_map = 0 -5304px 170px 101px
pic_red_ball = 0 -5405px 22px 23px
pic_red_card = 0 -5428px 17px 22px
pic_rubin = 0 -5450px 51px 48px
pic_scale = 0 -5498px 88px 89px
pic_scales = 0 -5587px 106px 75px
pic_sphere = 0 -5662px 92px 92px
pic_star = 0 -5754px 31px 31px
pic_yellow_card = 0 -5785px 17px 22px
ribbon_academy = 0 -5807px 107px 29px
ribbon_club = 0 -5836px 72px 29px
ribbon_kamaz = 0 -5865px 88px 29px
ribbon_neftekhimik = 0 -5894px 136px 29px
ribbon_rubin_2 = 0 -5923px 95px 29px
ribbon_rubin_m = 0 -5952px 103px 29px
ribbon_team = 0 -5981px 76px 29px
search_green = 0 -6010px 15px 16px
search_white = 0 -6026px 15px 16px
share_green = 0 -6042px 15px 18px
share_red = 0 -6060px 15px 18px
share_white = 0 -6078px 15px 18px
sound = 0 -6096px 27px 25px
sponsor_ak_bank = 0 -6121px 63px 30px
sponsor_eca = 0 -6151px 26px 36px
sponsor_fifa = 0 -6187px 71px 29px
sponsor_mts = 0 -6216px 72px 31px
sponsor_puma = 0 -6247px 53px 26px
sponsor_rfs = 0 -6273px 34px 40px
sponsor_russain_league = 0 -6313px 38px 38px
sponsor_sogaz = 0 -6351px 60px 30px
sponsor_taif = 0 -6381px 35px 41px
sponsor_tattelecom = 0 -6422px 49px 44px
sponsor_tgc16 = 0 -6466px 38px 41px
sponsor_uefa = 0 -6507px 38px 38px
sponsor_viatti = 0 -6545px 67px 15px
tw_default_pic = 0 -6560px 40px 40px
video = 0 -6600px 22px 15px
widgets_bg = 0 -6615px 985px 297px
sprite($sprite)
    background-image url('./sprite.png')
    background-position $sprite[0] $sprite[1]
    width $sprite[2]
    height $sprite[3]
