.grid-container
  ul.grid
    &.article-grid
      overflow: inherit

.article-title
  margin: 20px auto 10px
  width: 955px
  height: 400px
  position: relative

  &::before
    content: ''
    display: block
    position: absolute
    top: 0px
    left: -7px
    z-index: 50

  &.academy
    &::before
      imgSprite(ribbon_academy)
  &.club
    &::before
      imgSprite(ribbon_club)
  &.kamaz
    &::before
      imgSprite(ribbon_kamaz)
  &.neftekhimik
    &::before
      imgSprite(ribbon_neftekhimik)
  &.rubin-2
    &::before
      imgSprite(ribbon_rubin_2)
  &.rubin-m
    &::before
      imgSprite(ribbon_rubin_m)
  &.team
    &::before
      imgSprite(ribbon_team)

  .image
    width: 100%
    height: 100%

  .text-container
    background-color: rgba($black, 0.5)
    height: 90px
    padding: 8px
    box-sizing: border-box
    position: absolute
    left: 0
    right: 0
    bottom: 0

    .title
      fontPageTitle()
      color: $white

    .shares
      &::before
        imgSprite(share_white)

.article-container
  margin: 30px 0 0 0
  fontBody()

  .title
    fontTitle()

  .posted
    color: $greyThree
    font-size: 16px
    margin: 0 0 15px 0

    span
      color: $red
      font-size: inherit
      margin: 0
      display: inline

  span
    display: block
    margin: 0 0 15px 0
    font-size: 20px
    line-height: 1.3

  p
    display: block
    margin: 0 0 20px 0

  .article-widget-container
    float: right
    width: 225px
    margin: 0 0 25px 45px

  .description
    font-size: 12px
    line-height: 1.4
    margin: 0

.social-shares
  margin: 40px 0 0 0

  .shares-count
    fontBody()
    color: $greyThree

  ul
    li
      cursor: pointer
      height: 30px
      position: relative
      float: left
      margin: 0 20px 0 0

      .plus-minus-button
        margin: 8px 0 0 0

      .social-count
        margin: 7px 0 0 10px
        padding: 0px 3px
        min-width: 20px
        height: 20px
        float: left
        background-color: $white
        border: 1px solid $red
        box-sizing: border-box
        text-align: center
        color: $black
        font-size: 12px
        line-height: 20px
        position: relative

        &::before
          content: ''
          position: absolute
          left: -4px
          top: 5px
          width: 6px
          height: 6px
          background-color: $white
          border-left: 1px solid $red
          border-top: 1px solid $red
          transform: rotate(-45deg)

      .icon
        float: left

      .vk
        margin: 7px 0 0 0
        imgSprite(icon_red_vk)

      .fb
        margin: 3px 0 0 0
        imgSprite(icon_red_fb)

      .google
        margin: 5px 0 0 0
        imgSprite(icon_red_google)

      .tw
        margin: 5px 0 0 0
        imgSprite(icon_red_tw)

