.tile
  display: block
  position: relative
  box-sizing: border-box
  clearfix()

  .image-wrapper
    width: 100%
    height: 100%
    overflow: hidden
    position: relative

  .image
    background-size: cover
    transform: scale(1)
    transition: transform 0.5s ease

  &:hover
    .image
      transform: scale(1.2)
      transition: transform 0.5s ease

  &::before
    content: ''
    display: block
    position: absolute
    top: 5px
    left: -7px
    z-index: 50

  &.academy
    &::before
      sprite(ribbon_academy)
  &.club
    &::before
      sprite(ribbon_club)
  &.kamaz
    &::before
      sprite(ribbon_kamaz)
  &.neftekhimik
    &::before
      sprite(ribbon_neftekhimik)
  &.rubin-2
    &::before
      sprite(ribbon_rubin_2)
  &.rubin-m
    &::before
      sprite(ribbon_rubin_m)
  &.team
    &::before
      sprite(ribbon_team)

.home-grid
  h2
    color: $black

  ul.grid
    clearfix()

    > li
      float: left
      margin: 0 20px

      &.col-featured
        width: 345px
        margin-left: 0

      &.col-trending
        width: 305px

      &.col-additional
        width: 225px
        margin-right: 0

  .col-featured
    .tile
      margin: 20px 0
      height: 345px
      background-color: $greyOne

      .tile-content
        position: absolute
        left: 0
        right: 0
        bottom: 0
        height: 110px
        background-color: rgba($black, 0.5)
        box-sizing: border-box
        padding: 10px

        h3
          margin: 0 0 5px 0

        p
          fontBody()
          font-size: 20px
          color: $white
          display: block
          height: 40px
          overflow: hidden

      &:hover
        h3
          color: $green

      .buttons
        width: 100%
        position: absolute
        bottom: 5px
        left: 0px
        padding: 0 10px
        box-sizing: border-box

      .image
        width: 100%
        height: 100%

  .col-trending
    .tile
      margin: 20px 0
      height: auto

      .tile-content
        box-sizing: border-box
        padding: 10px 0 25px 0

      h3
        fontBody()
        font-family: $fontBold
        font-size: 16px
        color: $red

      p
        fontBody()

      &:hover
        h3
          color: $green

      .buttons
        width: 100%
        position: absolute
        bottom: 5px
        left: 0px
        box-sizing: border-box

      .shares
        color: $greyTwo

        &::before
          sprite(share_red)

      .image-wrapper
        width: 100%
        height: 170px

      .image
        width: 100%
        height: 100%

  .col-additional
    .breaking
      margin: 20px 0 0 0
      height: auto

      ul
        li
          display: block
          box-sizing: border-box
          border-bottom: 1px solid $red
          padding: 15px 0

          p
            color: $red
            padding: 0 0 25px 0

          &:first-child
            padding: 0 0 15px 0

          &:last-child
            border-bottom: none

      .breaking-item
        display: block
        position: relative

        .image-container
          padding: 0 0 30px 0
          position: relative

        .image-title
          position: absolute
          height: 27px
          background-color: rgba($black, 0.5)
          left: 0
          right: 0
          bottom: 30px
          z-index: 10
          line-height: 30px
          padding: 0 10px
          color: $white

        .image-wrapper
          width: 100%
          height: 90px
          overflow: hidden

        .image
          width: 100%
          height: 100%
          background-size: cover
          transform: scale(1)
          transition: transform 0.5s ease

        &:hover
          .image-title
            color: $green

          .image
            transform: scale(1.2)
            transition: transform 0.5s ease

      .buttons
        width: 100%
        position: absolute
        bottom: 5px
        left: 0px
        box-sizing: border-box

      .date
        float: right
        color: $greyThree

      .audio,
      .video,
      .photo
        position: relative
        right: 0
        float right
        margin: 0 0 0 5px

      .shares
        color: $greyThree

        &::before
          sprite(share_red)

.twitter-widget
  background: #efefe7
  background: -moz-linear-gradient(45deg,  #efefe7 0%, #ffffff 40%, #ffffff 60%, #e0e0e0 100%)
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#efefe7), color-stop(40%,#ffffff), color-stop(60%,#ffffff), color-stop(100%,#e0e0e0))
  background: -webkit-linear-gradient(45deg,  #efefe7 0%,#ffffff 40%,#ffffff 60%,#e0e0e0 100%)
  background: -o-linear-gradient(45deg,  #efefe7 0%,#ffffff 40%,#ffffff 60%,#e0e0e0 100%)
  background: -ms-linear-gradient(45deg,  #efefe7 0%,#ffffff 40%,#ffffff 60%,#e0e0e0 100%)
  background: linear-gradient(45deg,  #efefe7 0%,#ffffff 40%,#ffffff 60%,#e0e0e0 100%)
  padding: 10px

  .on-twitter
    fontTitle()
    position: relative
    font-size: 17px
    padding: 0 30px 0 0

    &::after
      content: ''
      position: absolute
      right: 0
      top: -5px
      sprite(icon_red_tw)
      transform: scale(0.7)

  &::after
    sprite(edit_red)

  ul
    li
      clearfix()
      display: block
      float: none
      margin: 0
      padding: 12px 0
      border-bottom: 1px solid $green

  .tw-picture
    sprite(tw_default_pic)
    float: left
    margin: 0 10px 0 0
    overflow: hidden

  .tw-content
    width: 235px
    float: left
    text-align: justify

    .title
      float: left

    .date
      float: right

    .text
      padding: 4px 0 0 0
      clear: both
      color: $red

.rubin-tv-widget
  margin: 30px 0 0 0

  a
    display: block

  .image-wrapper
    width: 100%
    height: 125px
    overflow: hidden
    margin: 10px 0

  .image
    width: 100%
    height: 100%
    background-size: cover
    transform: scale(1)
    transition: transform 0.5s ease

  &::after
    sprite(edit_red)
    top: 0
    right: 0

.advertisement
  margin: 30px 0 0 0

  span
    color: $greyTwo
    display: block
    margin: 0 0 3px 0

  .image
    width: 180px
    height: 125px
    background-size: cover
    transform: scale(1)
    transition: transform 0.5s ease

.score-widget
  margin: 30px 0 0 0
  width: 225px
  height: 225px
  background-color: $black
