.navigation
  imgSprite(navigation_bg)
  position: fixed
  top: 0
  left: 50%;
  margin-left: -478px
  z-index: 1000

  .logo
    imgSprite(logo)
    position: absolute
    top: 10px
    right: 10px
    z-index: 10

  .user-container
    height: 30px
    width: 100%
    padding: 8px
    box-sizing: border-box

    .search
      float: left
      position: relative
      height: 18px
      width: 85px
      margin: 0 15px 0 0

      input
        height: 100%
        width: 100%
        box-sizing: border-box
        background-color: #971032
        border: 1px solid rgba($white, 0.3)

      .search-button
        position: absolute
        right: 0px
        top: 3px

  nav
    position: absolute
    bottom: 50px
    left: 10px

    ul
      li
        fontTitle()
        font-size: 20px
        margin: 0 15px 0 0
        float: left
        color: $white
        cursor: pointer

        &:hover
        &.active
          color $green
